In [4]:
TRAIN_PATH = './Data/train.csv'
TEST_PATH = './Data/test.csv'

In [88]:
df_train = pd.read_csv(TRAIN_PATH) 
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

## 1. –ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è

**–®–∞–≥ 1.1. –ó–∞–≥—Ä—É–∂–∞–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏**

In [7]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt; 
%matplotlib inline 
import seaborn
import sklearn

**–®–∞–≥ 1.2. –ó–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ**

In [89]:
df_train = pd.read_csv(TRAIN_PATH)
df_test = pd.read_csv(TEST_PATH)

In [90]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

# 2. –û–±—Ä–∞–±–æ—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–µ—Ä–µ–¥ –æ–±—É—á–µ–Ω–∏–µ–º –º–æ–¥–µ–ª–∏

**–®–∞–≥ 2.1. –ü—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ —Ç–∏–ø–æ–≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö**

In [91]:
df_train = df_train.drop(['Ecology_2', 'Ecology_3','Shops_2'], axis=1)
df_test = df_test.drop(['Ecology_2', 'Ecology_3','Shops_2'], axis=1)
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   5202 non-null   float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5000 non-null   int64
 1   DistrictId     5000 non-null   int64
 2   Rooms          5000 non-null   float64
 3   Square         5000 non-null   float64
 4   LifeSquare     3959 non-null   float64
 5   KitchenSquare  5000 non-null   float64
 6   Floor          5000 non-null   int64
 7   HouseFloor     5000 non-null   float64
 8   HouseYear      5000 non-null   int64
 9   Ecology_1      5000 non-null   float64
 10  Social_1       5000 non-null   int64
 11  Social_2       5000 non-null   int64
 12  Social_3       5000 non-null   int64
 13  Healthcare_1   2623 non-null   float64
 14  Helthcare_2    5000 non-null   int64
 15  Shops_1        5000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 625.1 KB

In [93]:
training_data = df_train.copy()
training_data.loc[(training_data['Healthcare_1'].isna()) , 'Healthcare_1'] = training_data['Healthcare_1'].median()
training_data.loc[(training_data['LifeSquare'].isna()) , 'LifeSquare'] = training_data['Square'] - training_data['KitchenSquare']
df_train = training_data.copy()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB

In [94]:
testing_data = df_test.copy()
testing_data.loc[(testing_data['Healthcare_1'].isna()) , 'Healthcare_1'] = testing_data['Healthcare_1'].median()
testing_data.loc[(testing_data['LifeSquare'].isna()) , 'LifeSquare'] = testing_data['Square'] - testing_data['KitchenSquare']
df_test = testing_data.copy()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5000 non-null   int64
 1   DistrictId     5000 non-null   int64
 2   Rooms          5000 non-null   float64
 3   Square         5000 non-null   float64
 4   LifeSquare     5000 non-null   float64
 5   KitchenSquare  5000 non-null   float64
 6   Floor          5000 non-null   int64
 7   HouseFloor     5000 non-null   float64
 8   HouseYear      5000 non-null   int64
 9   Ecology_1      5000 non-null   float64
 10  Social_1       5000 non-null   int64
 11  Social_2       5000 non-null   int64
 12  Social_3       5000 non-null   int64
 13  Healthcare_1   5000 non-null   float64
 14  Helthcare_2    5000 non-null   int64
 15  Shops_1        5000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 625.1 KB

In [95]:
df_train.head(5)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,11809,27,3.0,115.027311,105.027311,10.0,4,10.0,2014,0.075424,11,3097,0,900.0,0,0,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,30,6207,1,1183.0,1,0,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,33,5261,0,240.0,3,1,282078.720850
3,2352,1,1.0,40.409907,39.409907,1.0,10,22.0,1977,0.007122,1,264,0,900.0,0,1,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,33,8667,2,900.0,0,6,343995.102962

In [96]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB

In [97]:
y_train = df_train['Price']
y_train

0       305018.871089
1       177734.553407
2       282078.720850
3       168106.007630
4       343995.102962
            ...
9995    119367.455796
9996    199715.148807
9997    165953.912580
9998    171842.411855
9999    177685.627486
Name: Price, Length: 10000, dtype: float64

In [98]:
x_train = df_train.drop('Price', axis=1)
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
dtypes: float64(7), int64(9)
memory usage: 1.2 MB

##   3. –û–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ

In [99]:
import numpy as np
from sklearn.model_selection import train_test_split

In [100]:
X_train, X_test, y_train, y_test = train_test_split(
...     x_train, y_train, test_size=0.3, random_state=42)

In [101]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(x_train.shape)

(7000, 16)
(3000, 16)
(7000,)
(3000,)
(10000, 16)

In [102]:
X_train.isna().sum()

Id               0
DistrictId       0
Rooms            0
Square           0
LifeSquare       0
KitchenSquare    0
Floor            0
HouseFloor       0
HouseYear        0
Ecology_1        0
Social_1         0
Social_2         0
Social_3         0
Healthcare_1     0
Helthcare_2      0
Shops_1          0
dtype: int64

**–®–∞–≥ 3.1. –í—ã–±–∏—Ä–∞–µ–º –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å**

–ü—Ä–æ—â–µ –≤—Å–µ–≥–æ –Ω–∞—á–∞—Ç—å —Å –ø—Ä–æ—Å—Ç—ã—Ö –º–µ—Ç–æ–¥–æ–≤. 
–ú—ã –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –¥–≤—É–º—è –º–µ—Ç–æ–¥–∞–º–∏ –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –∏ —Å—Ä–∞–≤–Ω–∏–º –∏—Ö –º–µ–∂–¥—É —Å–æ–±–æ–π:

<font color='green'> **–õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è** <font color='red'> *linear regression*

<font color='green'> **–õ–µ—Å —Ä–µ—à–∞—é—â–∏—Ö –¥–µ—Ä–µ–≤—å–µ–≤** <font color='red'> *random forest*

–ù–∞ –≤—ã–±–æ—Ä –º–µ—Ç–æ–¥–∞ –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ –≤–ª–∏—è–µ—Ç –Ω–∞–±–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, —Ä–∞–∑–º–µ—Ä –≤—ã–±–æ—Ä–∫–∏, –∏–Ω—Ç—É–∏—Ü–∏—è –ø—Ä–æ —Ç–æ, –∫–∞–∫–∞—è —Å–≤—è–∑—å –º–µ–∂–¥—É –≤—Ö–æ–¥–Ω—ã–º–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏ –∏ —Ü–µ–ª–µ–≤–æ–π. –ù–æ —á–∞—Å—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è –∏—Å—Ö–æ–¥—è –∏–∑ —Ç–æ–≥–æ, –∫–∞–∫–∞—è –º–æ–¥–µ–ª—å —Å—Ä–∞–±–æ—Ç–∞–ª–∞ –ª—É—á—à–µ.

In [20]:
from sklearn import linear_model, ensemble

In [21]:
#  —Å–æ–∑–¥–∞–¥–∏–º –º–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏
linreg_model = linear_model.LinearRegression()
linreg_model

LinearRegression()

In [22]:
#  —Å–æ–∑–¥–∞–¥–∏–º –º–æ–¥–µ–ª—å —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞
random_forest_model = ensemble.RandomForestRegressor()
random_forest_model

RandomForestRegressor()

**–®–∞–≥ 3.2. –û–±—É—á–∏–º –º–æ–¥–µ–ª—å**

In [23]:
linreg_model.fit(X_train, y_train)

LinearRegression()

–î–µ–ª–∞–µ–º —Ç–æ–∂–µ —Å–∞–º–æ–µ –¥–ª—è –º–æ–¥–µ–ª–∏ —Ä–µ—à–∞—é—â–µ–≥–æ –ª–µ—Å–∞.

In [24]:
random_forest_model.fit(X_train, y_train)

RandomForestRegressor()

* –î–ª—è –¥–≤—É—Ö —Ä–∞–∑–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –≤ sklearn –º–µ—Ç–æ–¥—ã –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ –Ω–µ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è.
* –ú—ã –ø–æ–ª—É—á–∏–ª–∏ –¥–≤–µ –æ–±—É—á–µ–Ω–Ω—ã–µ –º–æ–¥–µ–ª–∏. 
* –¢–µ–ø–µ—Ä—å –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–∞–ª–∏–¥–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª–∏ –Ω–∞ –Ω–æ–≤—ã—Ö —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

# 5. –ü—Ä–æ–≤–∞–ª–∏–¥–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ

**–®–∞–≥ 5.1. –°—Ä–∞–≤–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π.**

–¢–µ–ø–µ—Ä—å –º—ã –≥–æ—Ç–æ–≤—ã —Å—Ä–∞–≤–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –¥–≤—É—Ö –º–æ–¥–µ–ª–µ–π! üòé :)

*1. –ö–∞–∫–∞—è –º–æ–¥–µ–ª—å –ª—É—á—à–µ?*

–ü–æ–ª—É—á–∏–º –ø—Ä–æ–≥–Ω–æ–∑—ã —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –Ω–∞ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –º –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞. 

–î–ª—è —ç—Ç–æ–≥–æ –≤—ã–∑–æ–≤–µ–º —É –∫–∞–∂–¥–æ–π –º–æ–¥–µ–ª–∏ –º–µ—Ç–æ–¥ **predict()**, –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ –ø–µ—Ä–µ–¥–∞–¥–∏–º *test_points*.

In [103]:
predict_linreg_model = linreg_model.predict(X_test)
len(predict_linreg_model)

3000

In [104]:
predict_random_forest = random_forest_model.predict(X_test)
len(predict_random_forest)

3000

<font color=green>–ö–∞—á–µ—Å—Ç–≤–æ —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –æ—Ü–µ–Ω–∏–º –¥–≤—É–º—è —Å–ø–æ—Å–æ–±–∞–º–∏: 
1. –°—Ä–∞–≤–Ω–∏–º –≤–∏–∑—É–∞–ª—å–Ω–æ –ø—Ä–æ–≥–Ω–æ–∑—ã —Å –Ω–∞—Å—Ç–æ—è—â–∏–º–∏ —Ü–µ–Ω–∞–º–∏ (—Ç–µ—Å—Ç–æ–≤—ã–µ —Å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ–º)
2. –°—Ä–∞–≤–Ω–∏–º –º–µ—Ç—Ä–∏–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

–ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ—à–∏–±–∫–∏ –¥–ª—è –ª–∏–Ω–µ–π–Ω–æ–π –º–æ–¥–µ–ª–∏.

–î–ª—è —ç—Ç–æ–≥–æ –≤—ã–∑–æ–≤–µ–º –º–µ—Ç–æ–¥—ã **mean_absolute_error()** –∏ **mean_squared_error()**. –ù–∞ –≤—Ö–æ–¥ –∏–º –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è —Å—Ç–æ–ª–±–µ—Ü –Ω–∞—Å—Ç–æ—è—â–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π *test_values* –∏ —Å—Ç–æ–ª–±–µ—Ü –∑–Ω–∞—á–µ–Ω–∏–π, –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö –º–æ–¥–µ–ª—å—é –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ *test_predictions_linear*.

In [105]:
mean_absolute_error_linear_model = mean_absolute_error(y_test, predict_linreg_model) 
mean_squared_error_linear_model = mean_squared_error(y_test, predict_linreg_model)

–¥–ª—è –ª–µ—Å–∞ –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏

In [106]:
mean_absolute_error_random_forest_model = mean_absolute_error(y_test, predict_random_forest)
mean_squared_error_random_forest_model = mean_squared_error(y_test, predict_random_forest)

–¢–µ–ø–µ—Ä—å –Ω–∞–ø–µ—á–∞—Ç–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –æ—à–∏–±–∫–∏. –û–±—ã—á–Ω–æ —Å–º–æ—Ç—Ä—è—Ç –Ω–∞ –∫–æ—Ä–µ–Ω—å –∏–∑ —Å—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–π –æ—à–∏–±–∫–∏, RMSE. –ß—Ç–æ–±—ã –∏–∑–≤–ª–µ—á—å –∫–æ—Ä–µ–Ω—å –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ **Numpy**. –° –ø–æ–º–æ—â—å—é –Ω–µ—ë –º–æ–∂–Ω–æ –±—ã—Å—Ç—Ä–æ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç—å –≤—ã—á–∏—Å–ª–µ–Ω–∏—è —Å—Ä–∞–∑—É –Ω–∞–¥ –º–∞—Å—Å–∏–≤–∞–º–∏ —á–∏—Å–µ–ª.

In [107]:
import numpy as np

print("MAE: {0:7.2f}, RMSE: {1:7.2f} –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏".format(
        mean_absolute_error_linear_model, 
        np.sqrt(mean_squared_error_linear_model)))

print("MAE: {0:7.2f}, RMSE: {1:7.2f} –¥–ª—è –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞".format(
       mean_absolute_error_random_forest_model, 
       mean_squared_error_random_forest_model**(1/2)))

MAE: 48508.09, RMSE: 128215.25 –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏
MAE: 29772.53, RMSE: 50098.08 –¥–ª—è –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞

## –ú–æ–¥–µ–ª—å —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞ –∫—Ä—É—á–µ. –ó–∞–≥—Ä—É–∑–∏–º –≤ –Ω–µ–µ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É (–∏–∑ –∑–∞–¥–∞–Ω–∏—è)

In [57]:
# –û–Ω–∞ —É–∂–µ —É –Ω–∞—Å –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–∞ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df_test.head(3)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
0,4567,44,1.0,36.847630,19.094182,5.0,5,9.0,1970,0.036122,24,4378,0,1036.0,1,1
1,5925,62,1.0,42.493907,42.568133,10.0,7,17.0,2017,0.072158,2,629,1,900.0,0,0
2,960,27,2.0,59.463678,50.463678,9.0,19,19.0,1977,0.211401,9,1892,0,900.0,0,1

In [108]:
predict_RF = random_forest_model.predict(df_test)
len(predict_RF)

5000

In [109]:
# –∏–∑ –º–∞—Å—Å–∏–≤–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –º–æ–¥–µ–ª–∏ —Å–¥–µ–ª–∞–µ–º –î–∞—Ç–∞–§—Ä–µ–π–º
answer_df = pd.DataFrame(predict_RF)
round(answer_df) # - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–µ–ª–∏–∫–æ–≤

             0
0     160368.0
1     119404.0
2     139251.0
3     130800.0
4     200091.0
...        ...
4995  184822.0
4996  390522.0
4997  146235.0
4998  185152.0
4999  285801.0

[5000 rows x 1 columns]

In [110]:
question_path = './data/sample_submission.csv'
question_df = pd.read_csv(question_path)
question_df

         Id     Price
0      4567  200000.0
1      5925  200000.0
2       960  200000.0
3      3848  200000.0
4       746  200000.0
...     ...       ...
4995  10379  200000.0
4996  16138  200000.0
4997   3912  200000.0
4998   5722  200000.0
4999  11004  200000.0

[5000 rows x 2 columns]

In [118]:
df = pd.concat([question_df,answer_df], axis=1)
df.pop('Price')
df.rename(columns={0: 'Price'}, inplace=True)
df.set_index(['Id'],inplace=True)
df

               Price
Id
4567   160367.779730
5925   119404.085014
960    139250.781126
3848   130799.783259
746    200090.833136
...              ...
10379  184822.459524
16138  390521.638181
3912   146234.952068
5722   185152.174074
11004  285801.190248

[5000 rows x 1 columns]

In [119]:
df.to_csv('result_price_predict.csv')