In [1]:
#–ø—Ä–æ—Å–º–æ—Ç—Ä–∏–º –≤—Å–µ —Ç–µ–∫—É—â–∏–µ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è
!kaggle competitions list

ref                                                  deadline             category            reward  teamCount  userHasEntered
---------------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                         2030-07-01 23:59:00  Getting Started     Prizes         66           False
gan-getting-started                                  2030-07-01 23:59:00  Getting Started     Prizes        137           False
tpu-getting-started                                  2030-06-03 23:59:00  Getting Started  Knowledge        187           False
digit-recognizer                                     2030-01-01 00:00:00  Getting Started  Knowledge       1558           False
titanic                                              2030-01-01 00:00:00  Getting Started  Knowledge      49630            True
house-prices-advanced-regression-techniques          2030-01-01 00:00:00  Getting Started  Knowledge       4505           False
connectx                                             2030-01-01 00:00:00  Getting Started  Knowledge        266           False
nlp-getting-started                                  2030-01-01 00:00:00  Getting Started  Knowledge        895           False
competitive-data-science-predict-future-sales        2022-12-31 23:59:00  Playground           Kudos      12332           False
lux-ai-2021                                          2021-12-06 23:59:00  Featured           $10,000         16           False
chaii-hindi-and-tamil-question-answering             2021-11-15 23:59:00  Research           $10,000        127           False
nfl-health-and-safety-helmet-assignment              2021-11-02 23:59:00  Featured          $100,000         58           False
rsna-miccai-brain-tumor-radiogenomic-classification  2021-10-15 23:59:00  Featured           $30,000        670           False
landmark-retrieval-2021                              2021-10-01 23:59:00  Research              Swag          8           False
landmark-recognition-2021                            2021-10-01 23:59:00  Research              Swag         16           False
learnplatform-covid19-impact-on-digital-learning     2021-09-30 23:59:00  Analytics          $20,000          0           False
g2net-gravitational-wave-detection                   2021-09-29 23:59:00  Research           $15,000        647           False
optiver-realized-volatility-prediction               2021-09-27 23:59:00  Featured          $100,000       2267           False
mlb-player-digital-engagement-forecasting            2021-09-15 23:59:00  Featured           $50,000        852           False
tabular-playground-series-aug-2021                   2021-08-31 23:59:00  Playground            Swag       1229           False

In [2]:
#—Å–º–æ—Ç—Ä–∏–º —Ñ–∞–π–ª—ã –≤—ã–±—Ä–∞–Ω–Ω–æ–≥–æ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è
!kaggle competitions files real-estate-price-prediction-moscow

name                    size  creationDate
---------------------  -----  -------------------
test.csv               475KB  2020-09-16 09:01:30
sample_submission.csv   70KB  2020-09-16 09:01:30
train.csv                1MB  2020-09-16 09:01:30

In [3]:
#–≤—ã–∫–∞—á–∏–≤–∞–µ–º —Ñ–∞–π–ª—ã –≤—ã–±—Ä–∞–Ω–Ω–æ–≥–æ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è
!kaggle competitions download real-estate-price-prediction-moscow

real-estate-price-prediction-moscow.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
TRAIN_PATH = './Data/train.csv'
TEST_PATH = './Data/test.csv'

In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df_train = pd.read_csv(TRAIN_PATH) 
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

### –ü–ª–∞–Ω –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö:

1.   –ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è
2.   –û–±—Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–µ—Ä–µ–¥ –æ–±—É—á–µ–Ω–∏–µ–º –º–æ–¥–µ–ª–∏
- –≤—ã–±—Ä–æ—Å—ã –æ—á–∏—Å—Ç–∏—Ç—å
- –ø—Ä–æ–ø—É—Å–∫–∏ —É–±—Ä–∞—Ç—å
3.   –û–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ
4.   –ó–∞–≥—Ä—É–∑–∏—Ç—å –∏ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
5.   –ü—Ä–æ–≤–∞–ª–∏–¥–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ

## 1. –ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è

**–®–∞–≥ 1.1. –ó–∞–≥—Ä—É–∂–∞–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏**

In [7]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt; 
%matplotlib inline 
import seaborn
import sklearn

**–®–∞–≥ 1.2. –ó–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ**

In [8]:
df_train = pd.read_csv(TRAIN_PATH)
df_test = pd.read_csv(TEST_PATH)

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

# 2. –û–±—Ä–∞–±–æ—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–µ—Ä–µ–¥ –æ–±—É—á–µ–Ω–∏–µ–º –º–æ–¥–µ–ª–∏

**–®–∞–≥ 2.1. –ü—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ —Ç–∏–ø–æ–≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö**

In [10]:
df_train = df_train.drop(['Ecology_2', 'Ecology_3','Shops_2'], axis=1)
df_test = df_test.drop(['Ecology_2', 'Ecology_3','Shops_2'], axis=1)
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   5202 non-null   float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5000 non-null   int64
 1   DistrictId     5000 non-null   int64
 2   Rooms          5000 non-null   float64
 3   Square         5000 non-null   float64
 4   LifeSquare     3959 non-null   float64
 5   KitchenSquare  5000 non-null   float64
 6   Floor          5000 non-null   int64
 7   HouseFloor     5000 non-null   float64
 8   HouseYear      5000 non-null   int64
 9   Ecology_1      5000 non-null   float64
 10  Social_1       5000 non-null   int64
 11  Social_2       5000 non-null   int64
 12  Social_3       5000 non-null   int64
 13  Healthcare_1   2623 non-null   float64
 14  Helthcare_2    5000 non-null   int64
 15  Shops_1        5000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 625.1 KB

–ê–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∫–æ–º–∞–Ω–¥—ã:

* 10000 —Å—Ç—Ä–æ–∫ (entries)
* 14 —Å—Ç–æ–ª–±—Ü–æ–≤ (Data columns)

–í –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç 2 —Ç–∏–ø–∞ dtypes:
* int64 - —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ  (5 —Å—Ç–æ–ª–±—Ü–æ–≤)
* float64 - –¥—Ä–æ–±–Ω–æ–µ —á–∏—Å–ª–æ (3 —Å—Ç–æ–ª–±—Ü–∞)

–ü–æ—á–∏—Å—Ç–∏–º –¥–∞–Ω–Ω—ã–µ, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–π (–∂–∏–ª—É—é –ø–ª–æ—â–∞–¥—å –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–∞–∫ —Ä–∞–∑–Ω–∏—Ü—É –æ–±—â–µ–π –∏ –∫—É—Ö–Ω–∏)

In [11]:
training_data = df_train.copy()
training_data.loc[(training_data['Healthcare_1'].isna()) , 'Healthcare_1'] = training_data['Healthcare_1'].median()
training_data.loc[(training_data['LifeSquare'].isna()) , 'LifeSquare'] = training_data['Square'] - training_data['KitchenSquare']
df_train = training_data.copy()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB

In [12]:
testing_data = df_test.copy()
testing_data.loc[(testing_data['Healthcare_1'].isna()) , 'Healthcare_1'] = testing_data['Healthcare_1'].median()
testing_data.loc[(testing_data['LifeSquare'].isna()) , 'LifeSquare'] = testing_data['Square'] - testing_data['KitchenSquare']
df_test = testing_data.copy()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5000 non-null   int64
 1   DistrictId     5000 non-null   int64
 2   Rooms          5000 non-null   float64
 3   Square         5000 non-null   float64
 4   LifeSquare     5000 non-null   float64
 5   KitchenSquare  5000 non-null   float64
 6   Floor          5000 non-null   int64
 7   HouseFloor     5000 non-null   float64
 8   HouseYear      5000 non-null   int64
 9   Ecology_1      5000 non-null   float64
 10  Social_1       5000 non-null   int64
 11  Social_2       5000 non-null   int64
 12  Social_3       5000 non-null   int64
 13  Healthcare_1   5000 non-null   float64
 14  Helthcare_2    5000 non-null   int64
 15  Shops_1        5000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 625.1 KB

**–®–∞–≥ 2.2. –£–¥–∞–ª—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏**

–ö–∞–∫ –º—ã —É–∂–µ –≤–∏–¥–µ–ª–∏ –≤—ã—à–µ, –≤ –Ω–∞—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ (–∑–Ω–∞—á–µ–Ω–∏—è NaN). –î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –≤—ã–∫–∏–Ω–µ–º —Ç–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ –Ω–∞—à–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞, –ø—Ä–∏–º–µ–Ω–∏–≤ –º–µ—Ç–æ–¥ **dropna()** –∫ *training_data*:

**–®–∞–≥ 2.3. –û—Ç–¥–µ–ª—è–µ–º —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ—Ç —á–∏—Å–ª–æ–≤—ã—Ö**

–ú—ã –≤–∏–¥–∏–º, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Ç–µ–∫—Å—Ç–æ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏. –ú–∞—à–∏–Ω–µ —Å–ª–æ–∂–Ω–æ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –ø–æ—ç—Ç–æ–º—É –¥–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è —Ä–∞–±–æ—Ç—ã –º—ã –æ—Å—Ç–∞–≤–∏–º —Å—Ç–æ–ª–±—Ü—ã, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ —Ç–æ–ª—å–∫–æ —á–∏—Å–ª–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ.   

–û—Ç–º–µ—Ç–∏–º, —á—Ç–æ, —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –º—ã –º–æ–∂–µ–º –ø–æ—Ç–µ—Ä—è—Ç—å –¥–æ–≤–æ–ª—å–Ω–æ –º–Ω–æ–≥–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –æ—á–µ–≤–∏–¥–Ω–æ, —á—Ç–æ —Ç–∏–ø –ø—Ä–∏–≤–æ–¥–∞ (–ø—Ä–∏–∑–Ω–∞–∫ drive)  –≤–ª–∏—è–µ—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å), –æ–¥–Ω–∞–∫–æ –º—ã —Å–æ–∑–Ω–∞—Ç–µ–ª—å–Ω–æ –∏–¥–µ–º –Ω–∞ —ç—Ç–æ —É–ø—Ä–æ—â–µ–Ω–∏–µ –Ω–∞ –¥–∞–Ω–Ω–æ–º —ç—Ç–∞–ø–µ –æ–±—É—á–µ–Ω–∏—è. 

–ß—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –≤—Å–µ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏, –Ω–µ–æ–±—Ö–¥–∏–º–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥ **_get_numeric_data()** –∫ –æ–±—ä–µ–∫—Ç—É *training_data*

In [13]:
df_train.head(5)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
0,11809,27,3.0,115.027311,105.027311,10.0,4,10.0,2014,0.075424,11,3097,0,900.0,0,0,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,30,6207,1,1183.0,1,0,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,33,5261,0,240.0,3,1,282078.720850
3,2352,1,1.0,40.409907,39.409907,1.0,10,22.0,1977,0.007122,1,264,0,900.0,0,1,168106.007630
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,33,8667,2,900.0,0,6,343995.102962

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 1.3 MB

**–®–∞–≥ 2.4. –†–∞–±–æ—Ç–∞–µ–º —Å —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π**

*–ö–∞–∫–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è —Ü–µ–ª–µ–≤–∞—è?*

–í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –ø–æ —É—Å–ª–æ–≤–∏—é –∑–∞–¥–∞—á–∏ –º—ã –¥–æ–ª–∂–Ω—ã –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞—Ç—å —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–≤–∞—Ä—Ç–∏—Ä—ã, –ø–æ—ç—Ç–æ–º—É —Ü–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è - —ç—Ç–æ price. –ó–∞–ø–∏—à–µ–º –Ω–∞–∑–≤–∞–Ω–∏–µ —Ü–µ–ª–µ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º ***target_variable_name***.

–ù–∞–º –Ω—É–∂–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é ***training_values*** —Å—Ç–æ–ª–±–µ—Ü –∏–∑ –Ω–∞—à–µ–π —Ç–∞–±–ª–∏—Ü—ã, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –≤—ã—à–µ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π. –î–ª—è —ç—Ç–æ–≥–æ –º—ã —É —Ç–∞–±–ª–∏—Ü—ã *training_data* –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö —É–∫–∞–∑—ã–≤–∞–µ–º –∏–º—è –Ω—É–∂–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞. –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ —ç—Ç–æ –∏–º—è –∑–∞–ø–∏—Å–∞–Ω–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π *target_variable_name*.

In [15]:
y_train = df_train['Price']
y_train

0       305018.871089
1       177734.553407
2       282078.720850
3       168106.007630
4       343995.102962
            ...
9995    119367.455796
9996    199715.148807
9997    165953.912580
9998    171842.411855
9999    177685.627486
Name: Price, Length: 10000, dtype: float64

<font color='blue'>–û—Ç–¥–µ–ª–∏–º –≤—Ö–æ–¥–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –æ—Ç –≤—ã—Ö–æ–¥–Ω–æ–π (—Ü–µ–ª–µ–≤–æ–π), —á—Ç–æ–±—ã –º–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –º–æ–¥–µ–ª—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –ø–æ –≤—Ö–æ–¥–Ω—ã–º.  

–î–ª—è —ç—Ç–æ –Ω—É–∂–Ω–æ —É –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π ***df_train*** –≤—ã–∑–≤–∞—Ç—å –º–µ—Ç–æ–¥ **drop()**. –†–µ–∑—É–ª—å—Ç–∞—Ç –º—ã –∑–∞–ø–∏—Å—ã–≤–∞–µ–º –≤ –Ω–æ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é ***training_points***. –ü–æ—Å–ª–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–∞ ***training_points*** –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –∏—Å—Ö–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –±–µ–∑ —Ü–µ–ª–µ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞. 
 

–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –º—ã –ø–µ—Ä–µ–¥–∞–µ–º –¥–≤–∞ –∞—Ä–≥—É–º–µ–Ω—Ç–∞:
    1. ***target_variable_name*** - –Ω–∞–∑–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ —Ü–µ–Ω—ã, –∫–æ—Ç–æ—Ä—ã–π –º—ã —Ä–∞–Ω–µ–µ –∑–∞–ø–∏—Å–∞–ª–∏ –≤ —ç—Ç—É –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –∏ —Ç–µ–ø–µ—Ä—å —Ö–æ—Ç–∏–º —É–¥–∞–ª–∏—Ç—å –∏–∑ training_data
    2. axis=1 - –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –º—ã —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü, –∞ –≤ —Å–ª—É—á–∞–µ axis=0 - –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –º—ã —É–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫—É

In [16]:
x_train = df_train.drop('Price', axis=1)
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
dtypes: float64(7), int64(9)
memory usage: 1.2 MB

##   3. –û–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–µ

In [17]:
import numpy as np
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(
...     x_train, y_train, test_size=0.3, random_state=42)

In [19]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(x_train.shape)

(7000, 16)
(3000, 16)
(7000,)
(3000,)
(10000, 16)

In [61]:
print(X_train.info())
print(X_test.info())
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 9069 to 7270
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             7000 non-null   int64
 1   DistrictId     7000 non-null   int64
 2   Rooms          7000 non-null   float64
 3   Square         7000 non-null   float64
 4   LifeSquare     7000 non-null   float64
 5   KitchenSquare  7000 non-null   float64
 6   Floor          7000 non-null   int64
 7   HouseFloor     7000 non-null   float64
 8   HouseYear      7000 non-null   int64
 9   Ecology_1      7000 non-null   float64
 10  Social_1       7000 non-null   int64
 11  Social_2       7000 non-null   int64
 12  Social_3       7000 non-null   int64
 13  Healthcare_1   7000 non-null   float64
 14  Helthcare_2    7000 non-null   int64
 15  Shops_1        7000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 929.7 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 6252 to 4705
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             3000 non-null   int64
 1   DistrictId     3000 non-null   int64
 2   Rooms          3000 non-null   float64
 3   Square         3000 non-null   float64
 4   LifeSquare     3000 non-null   float64
 5   KitchenSquare  3000 non-null   float64
 6   Floor          3000 non-null   int64
 7   HouseFloor     3000 non-null   float64
 8   HouseYear      3000 non-null   int64
 9   Ecology_1      3000 non-null   float64
 10  Social_1       3000 non-null   int64
 11  Social_2       3000 non-null   int64
 12  Social_3       3000 non-null   int64
 13  Healthcare_1   3000 non-null   float64
 14  Helthcare_2    3000 non-null   int64
 15  Shops_1        3000 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 398.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
dtypes: float64(7), int64(9)
memory usage: 1.2 MB
None

**–®–∞–≥ 3.1. –í—ã–±–∏—Ä–∞–µ–º –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å**

–ü—Ä–æ—â–µ –≤—Å–µ–≥–æ –Ω–∞—á–∞—Ç—å —Å –ø—Ä–æ—Å—Ç—ã—Ö –º–µ—Ç–æ–¥–æ–≤. 
–ú—ã –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è –¥–≤—É–º—è –º–µ—Ç–æ–¥–∞–º–∏ –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –∏ —Å—Ä–∞–≤–Ω–∏–º –∏—Ö –º–µ–∂–¥—É —Å–æ–±–æ–π:

<font color='green'> **–õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è** <font color='red'> *linear regression*

<font color='green'> **–õ–µ—Å —Ä–µ—à–∞—é—â–∏—Ö –¥–µ—Ä–µ–≤—å–µ–≤** <font color='red'> *random forest*

–ù–∞ –≤—ã–±–æ—Ä –º–µ—Ç–æ–¥–∞ –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ –≤–ª–∏—è–µ—Ç –Ω–∞–±–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, —Ä–∞–∑–º–µ—Ä –≤—ã–±–æ—Ä–∫–∏, –∏–Ω—Ç—É–∏—Ü–∏—è –ø—Ä–æ —Ç–æ, –∫–∞–∫–∞—è —Å–≤—è–∑—å –º–µ–∂–¥—É –≤—Ö–æ–¥–Ω—ã–º–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏ –∏ —Ü–µ–ª–µ–≤–æ–π. –ù–æ —á–∞—Å—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç—Å—è –∏—Å—Ö–æ–¥—è –∏–∑ —Ç–æ–≥–æ, –∫–∞–∫–∞—è –º–æ–¥–µ–ª—å —Å—Ä–∞–±–æ—Ç–∞–ª–∞ –ª—É—á—à–µ.

–î–ª—è –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–π —Ä–∞–±–æ—Ç—ã —Å –º–µ—Ç–æ–¥–∞–º–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –≤ python —Ç—Ä–µ–±—É–µ—Ç—Å—è –∑–∞–≥—Ä—É–∑–∏—Ç—å —Å–ø–µ—Ü–∏–∞–ª—å–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É
**sklearn**, –ø—Ä–æ–≥—Ä–∞–º–º–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –Ω–∞ —è–∑—ã–∫–µ python –¥–ª—è –¥–ª—è –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

–ú—ã –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –¥–≤–∞ –º–æ–¥—É–ª—è –∏–∑ —ç—Ç–æ–π –±–∏–±–ª–∏–æ—Ç–µ–∫–∏:
 * *linear_model* - —Ç—É—Ç –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤—Å–µ –ª–∏–Ω–µ–π–Ω—ã–µ –º–æ–¥–µ–ª–∏
 * *ensemble* - —Ç—É—Ç –Ω–∞—Ö–æ–¥—è—Ç—Å—è –º–æ–¥–µ–ª–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∞–Ω—Å–∞–º–±–ª–µ–π

In [19]:
import sklearn

In [20]:
from sklearn import linear_model, ensemble

–ß—Ç–æ–±—ã —Å–æ–∑–¥–∞—Ç—å –º–æ–¥–µ–ª—å **–ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å–∏–∏**, –ø–∏—à–µ–º –∏–º—è –º–æ–¥—É–ª—è 'linear_model', –∑–∞—Ç–µ–º —Ç–æ—á–∫—É, –∑–∞—Ç–µ–º –Ω–∞–∑–≤–∞–Ω–∏–µ –º–æ–¥–µ–ª–∏.

–î–ª—è —ç—Ç–æ–≥–æ –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–π –∫–æ–¥:

In [21]:
#  —Å–æ–∑–¥–∞–¥–∏–º –º–æ–¥–µ–ª—å –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏
linreg_model = linear_model.LinearRegression()
linreg_model

LinearRegression()

In [22]:
#  —Å–æ–∑–¥–∞–¥–∏–º –º–æ–¥–µ–ª—å —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞
random_forest_model = ensemble.RandomForestRegressor()
random_forest_model

RandomForestRegressor()

**–®–∞–≥ 3.2. –û–±—É—á–∏–º –º–æ–¥–µ–ª—å**

–¢–µ–ø–µ—Ä—å, –∫–æ–≥–¥–∞ –º—ã —Å–æ–∑–¥–∞–ª–∏ –ø—Ä–æ—Ç–æ—Ç–∏–ø—ã –æ–±–µ–∏—Ö –º–æ–¥–µ–ª–µ–π, –º–æ–∂–µ–º –∏—Ö –æ–±—É—á–∏—Ç—å —Å –ø–æ–º–æ—â—å—é –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–∏. 

–î–ª—è —ç—Ç–æ–≥–æ –≤—ã–∑—ã–≤–∞–µ–º –º–µ—Ç–æ–¥ **fit()** —É –∫–∞–∂–¥–æ–π –º–æ–¥–µ–ª–∏ –∏ –ø–µ—Ä–µ–¥–∞–µ–º –µ–º—É –Ω–∞ –≤—Ö–æ–¥ –¥–≤–∞ –∞—Ä–≥—É–º–µ–Ω—Ç–∞: 
—Ç–∞–±–ª–∏—Ü—É –≤—Ö–æ–¥–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ —Å—Ç–æ–ª–±–µ—Ü –∑–Ω–∞—á–µ–Ω–∏–π —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π - (training_points, training_values)

In [23]:
linreg_model.fit(X_train, y_train)

LinearRegression()

–î–µ–ª–∞–µ–º —Ç–æ–∂–µ —Å–∞–º–æ–µ –¥–ª—è –º–æ–¥–µ–ª–∏ —Ä–µ—à–∞—é—â–µ–≥–æ –ª–µ—Å–∞.

In [24]:
random_forest_model.fit(X_train, y_train)

RandomForestRegressor()

* –î–ª—è –¥–≤—É—Ö —Ä–∞–∑–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –≤ sklearn –º–µ—Ç–æ–¥—ã –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ –Ω–µ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è.
* –ú—ã –ø–æ–ª—É—á–∏–ª–∏ –¥–≤–µ –æ–±—É—á–µ–Ω–Ω—ã–µ –º–æ–¥–µ–ª–∏. 
* –¢–µ–ø–µ—Ä—å –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–∞–ª–∏–¥–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª–∏ –Ω–∞ –Ω–æ–≤—ã—Ö —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

## 4. –ó–∞–≥—Ä—É–∑–∏—Ç—å –∏ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è

**–®–∞–≥ 4.1. –ó–∞–≥—Ä—É–∑–∏–º –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º —Ç–µ—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ.**

–í —Ñ—É–Ω–∫—Ü–∏–∏ –ø–µ—Ä–µ–¥–∞–µ–º –æ–¥–∏–Ω –∞—Ç—Ä–∏–±—É—Ç: –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∞–π–ª–∞, –≤ –∫–æ—Ç–æ—Ä–æ–º –Ω–∞—Ö–æ–¥–∏—Ç—Å—è —Ç–∞–±–ª–∏—Ü–∞ —Å –¥–∞–Ω–Ω—ã–º–∏.

**–®–∞–≥ 4.2. –û—Ç–¥–µ–ª—è–µ–º —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é**

–ù–∞–º –Ω—É–∂–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é ***test_values*** —Å—Ç–æ–ª–±–µ—Ü –∏–∑ –Ω–∞—à–µ–π —Ç–∞–±–ª–∏—Ü—ã, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –≤—ã—à–µ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π. –î–ª—è —ç—Ç–æ–≥–æ –º—ã —É —Ç–∞–±–ª–∏—Ü—ã *test_data* –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö —É–∫–∞–∑—ã–≤–∞–µ–º –∏–º—è –Ω—É–∂–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞. –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ —ç—Ç–æ –∏–º—è –∑–∞–ø–∏—Å–∞–Ω–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π ***target_variable_name***.

# 5. –ü—Ä–æ–≤–∞–ª–∏–¥–∏—Ä–æ–≤–∞—Ç—å –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ

**–®–∞–≥ 5.1. –°—Ä–∞–≤–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π.**

–¢–µ–ø–µ—Ä—å –º—ã –≥–æ—Ç–æ–≤—ã —Å—Ä–∞–≤–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –¥–≤—É—Ö –º–æ–¥–µ–ª–µ–π! üòé :)

*1. –ö–∞–∫–∞—è –º–æ–¥–µ–ª—å –ª—É—á—à–µ?*

–ü–æ–ª—É—á–∏–º –ø—Ä–æ–≥–Ω–æ–∑—ã —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –Ω–∞ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –º –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞. 

–î–ª—è —ç—Ç–æ–≥–æ –≤—ã–∑–æ–≤–µ–º —É –∫–∞–∂–¥–æ–π –º–æ–¥–µ–ª–∏ –º–µ—Ç–æ–¥ **predict()**, –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ –ø–µ—Ä–µ–¥–∞–¥–∏–º *test_points*.

In [47]:
predict_linreg_model = linreg_model.predict(X_test)
len(predict_linreg_model)

3000

In [48]:
predict_random_forest = random_forest_model.predict(X_test)
len(predict_random_forest)

3000

<font color=green>–ö–∞—á–µ—Å—Ç–≤–æ —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –æ—Ü–µ–Ω–∏–º –¥–≤—É–º—è —Å–ø–æ—Å–æ–±–∞–º–∏: 
1. –°—Ä–∞–≤–Ω–∏–º –≤–∏–∑—É–∞–ª—å–Ω–æ –ø—Ä–æ–≥–Ω–æ–∑—ã —Å –Ω–∞—Å—Ç–æ—è—â–∏–º–∏ —Ü–µ–Ω–∞–º–∏ (—Ç–µ—Å—Ç–æ–≤—ã–µ —Å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ–º)
2. –°—Ä–∞–≤–Ω–∏–º –º–µ—Ç—Ä–∏–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞

<font color=green>–í–∏–∑—É–∞–ª–∏–∑–∏—Ä—É–µ–º –ø—Ä–æ–≥–Ω–æ–∑ –ª–∏–Ω–µ–π–Ω–æ–π –º–æ–¥–µ–ª–∏ –∏ –Ω–∞—Å—Ç–æ—è—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏.
–ú–æ–∂–Ω–æ –Ω–µ –æ–±—Ä–∞—â–∞—Ç—å –æ—Å–æ–±–æ–≥–æ –≤–Ω–∏–º–∞–Ω–∏—è –Ω–∞ —Ç–æ, —á—Ç–æ –∑–∞ –∫–æ–¥ –Ω–∞–ø–∏—Å–∞–Ω.

–í–∏–∑—É–∞–ª–∏–∑–∏—Ä—É–µ–º –ø—Ä–æ–≥–Ω–æ–∑ –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞ –∏ –Ω–∞—Å—Ç–æ—è—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

–ü–æ–¥—Å—á–∏—Ç–∞–µ–º –æ—à–∏–±–∫–∏ –¥–ª—è –ª–∏–Ω–µ–π–Ω–æ–π –º–æ–¥–µ–ª–∏.

–î–ª—è —ç—Ç–æ–≥–æ –≤—ã–∑–æ–≤–µ–º –º–µ—Ç–æ–¥—ã **mean_absolute_error()** –∏ **mean_squared_error()**. –ù–∞ –≤—Ö–æ–¥ –∏–º –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è —Å—Ç–æ–ª–±–µ—Ü –Ω–∞—Å—Ç–æ—è—â–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π *test_values* –∏ —Å—Ç–æ–ª–±–µ—Ü –∑–Ω–∞—á–µ–Ω–∏–π, –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö –º–æ–¥–µ–ª—å—é –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ *test_predictions_linear*.

In [53]:
mean_absolute_error_linear_model = mean_absolute_error(y_test, predict_linreg_model) 
mean_squared_error_linear_model = mean_squared_error(y_test, predict_linreg_model)

–¥–ª—è –ª–µ—Å–∞ –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏

In [49]:
mean_absolute_error_random_forest_model = mean_absolute_error(y_test, predict_random_forest)
mean_squared_error_random_forest_model = mean_squared_error(y_test, predict_random_forest)

–¢–µ–ø–µ—Ä—å –Ω–∞–ø–µ—á–∞—Ç–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –æ—à–∏–±–∫–∏. –û–±—ã—á–Ω–æ —Å–º–æ—Ç—Ä—è—Ç –Ω–∞ –∫–æ—Ä–µ–Ω—å –∏–∑ —Å—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–π –æ—à–∏–±–∫–∏, RMSE. –ß—Ç–æ–±—ã –∏–∑–≤–ª–µ—á—å –∫–æ—Ä–µ–Ω—å –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ **Numpy**. –° –ø–æ–º–æ—â—å—é –Ω–µ—ë –º–æ–∂–Ω–æ –±—ã—Å—Ç—Ä–æ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç—å –≤—ã—á–∏—Å–ª–µ–Ω–∏—è —Å—Ä–∞–∑—É –Ω–∞–¥ –º–∞—Å—Å–∏–≤–∞–º–∏ —á–∏—Å–µ–ª.

In [54]:
import numpy as np

print("MAE: {0:7.2f}, RMSE: {1:7.2f} –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏".format(
        mean_absolute_error_linear_model, 
        np.sqrt(mean_squared_error_linear_model)))

print("MAE: {0:7.2f}, RMSE: {1:7.2f} –¥–ª—è –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞".format(
       mean_absolute_error_random_forest_model, 
       mean_squared_error_random_forest_model**(1/2)))

MAE: 48508.09, RMSE: 128215.25 –¥–ª—è –º–æ–¥–µ–ª–∏ –ª–∏–Ω–µ–π–Ω–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏
MAE: 29772.53, RMSE: 50098.08 –¥–ª—è –º–æ–¥–µ–ª–∏ —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞

## –ú–æ–¥–µ–ª—å —Å–ª—É—á–∞–π–Ω–æ–≥–æ –ª–µ—Å–∞ –∫—Ä—É—á–µ. –ó–∞–≥—Ä—É–∑–∏–º –≤ –Ω–µ–µ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É (–∏–∑ –∑–∞–¥–∞–Ω–∏—è)

In [57]:
# –û–Ω–∞ —É–∂–µ —É –Ω–∞—Å –ø–æ—á–∏—â–µ–Ω–∞ –∏ –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–∞ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df_test.head(3)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
0,4567,44,1.0,36.847630,19.094182,5.0,5,9.0,1970,0.036122,24,4378,0,1036.0,1,1
1,5925,62,1.0,42.493907,42.568133,10.0,7,17.0,2017,0.072158,2,629,1,900.0,0,0
2,960,27,2.0,59.463678,50.463678,9.0,19,19.0,1977,0.211401,9,1892,0,900.0,0,1

In [59]:
predict_RF = random_forest_model.predict(df_test)
len(predict_RF)

5000

In [61]:
# –∏–∑ –º–∞—Å—Å–∏–≤–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –º–æ–¥–µ–ª–∏ —Å–¥–µ–ª–∞–µ–º –î–∞—Ç–∞–§—Ä–µ–π–º
answer_df = pd.DataFrame(predict_RF)
round(answer_df) # - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–µ–ª–∏–∫–æ–≤

             0
0     160368.0
1     119404.0
2     139251.0
3     130800.0
4     200091.0
...        ...
4995  184822.0
4996  390522.0
4997  146235.0
4998  185152.0
4999  285801.0

[5000 rows x 1 columns]

In [65]:
question_path = './data/sample_submission.csv'
question_df = pd.read_csv(question_path)
question_df

         Id     Price
0      4567  200000.0
1      5925  200000.0
2       960  200000.0
3      3848  200000.0
4       746  200000.0
...     ...       ...
4995  10379  200000.0
4996  16138  200000.0
4997   3912  200000.0
4998   5722  200000.0
4999  11004  200000.0

[5000 rows x 2 columns]

In [86]:
df = pd.concat([question_df,answer_df], axis=1)
df.pop('Price')
df.rename(columns={0: 'Predict_Price'}, inplace=True)
df

         Id  Predict_Price
0      4567  160367.779730
1      5925  119404.085014
2       960  139250.781126
3      3848  130799.783259
4       746  200090.833136
...     ...            ...
4995  10379  184822.459524
4996  16138  390521.638181
4997   3912  146234.952068
4998   5722  185152.174074
4999  11004  285801.190248

[5000 rows x 2 columns]

In [87]:
df.to_csv('result_price_predict.csv')